<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet/scss" type="text/css" href="startpage.scss">
  <meta charset="UTF-8">
    <title>Starting-Page</title>
</head>
<!-------->
<body>

<div class="navigation-bar">


  <div id="navigation-container">

    <img src="https://www.attractionsbook.com/parse/image.php?image_id=199335">

    <ul>
      <li><a href="localhost:3000">Home</a></li>
      <li><a href="/users/sign_up">Register</a></li>
      <li><a href="/users/sign_in">Log in</a></li>
      <li><a href="/about">About</a></li>
    </ul>
   </div>
  </div>
</body>

</html>


