<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet/scss" type="text/css" href="startpage.scss">
  <meta charset="UTF-8">
    <title>Starting-Page</title>

</head>
<!-------->
<body>
<div class="media">
  <img src="https://i.imgur.com/nXt6c7F.png" class="align-self-center mr-3" alt="...">
</div>
</body>

</html>


